body { 
	margin: 0; 
	padding: 0; 
	zoom: 0; 
	font-size: 1em; // 12px}

h1, h2, p { 
	margin: 0; 
	padding: 0; }

img {
    max-width: 100%;
}

.container { 
	width: 100% margin: 0 auto; 
}

/*-- introduction to page --*/

.section-intro {
	background: url(../img/stars-bg-web.png);
	background-color: #203668;
	background-repeat: repeat;
	width: 100%;
	padding: 5% 0 5% 0;
}

.section-intro h1 {
	font-size: 2em; 
	font-family: 'Nunito', sans-serif; 
	color: #ffffff; 
	letter-spacing: .1em;
	text-align: center;
	max-width: 100%; 
	padding: 3.5% 0 0 0;
}

.section-intro p { 
	color: #ffffff; 
	font-size: .9em; 
	font-family: 'Karla', sans-serif; 
	margin: 1.1% auto 0% auto; 
	max-width: 60%;
	text-align: center; 
}

.section-intro a { 
	color: #ffffff; 
	text-decoration: none; }

.section-intro a:hover { 
	color:#fae896; 
	text-decoration:none;}

/*-- what we do --*/

.section-whatwedo {
	background-color: #ffffff;
	width: 100%;
}

.section-whatwedo .wrapper {
	margin: 3% auto 0% 21%; 
}

.section-whatwedo .double {
	display:inline-block;
	vertical-align: top;
	margin: 5% 3% 3% 2%;
	width: 30%;
}

.section-whatwedo h1 {
	font-size: 2em;
	font-family: 'Nunito', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left; 
}

.section-whatwedo p { 
	color: #0d152b; 
	font-size: 1em; 
	font-family: 'Karla', sans-serif; 
	line-height: 1.6em;
	margin: 2% auto 3% auto;
	text-align: left; 
}

.section-whatwedo .spacer {
	padding: 11% 0 0 0;
}


/*-- how to get it --*/

.section-howtoget {
	background-color: #e85233;
	margin: 7% auto 7% auto;
	width: 100%;
}

.section-howtoget .wrapper {
	margin: 3% auto 0% 21%; 
	width: 60%;
	padding: 7% 0 7% 0;
}

.section-howtoget .horizonalspacer {
	padding-right: 1%;
}

.section-howtoget h1 {
	font-size: 2em;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left; 
}

.section-howtoget p { 
	color: #fff; 
	font-size: 1em; 
	font-family: 'Karla', sans-serif; 
	line-height: 1.6em;
	margin: 2% auto 3% auto;
	text-align: left; 
}

.section-howtoget .spacer {
	padding: 11% 0 0 0;
}


@media only screen and (max-width: 1250px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 8% 0 10% 0;
}

.section-intro p { 
	max-width: 60%;
	text-align: center; 
}

.section-intro h2 {
	font-size: 1.5em; 
	font-family: 'Nunito', sans-serif; 
	letter-spacing: .1em;
	text-align: center;
	max-width: 90%; 
	margin-left: 5%;}	

/*-- what we do --*/

.section-whatwedo .wrapper {
	margin: 10% auto 0% 10%; 
}

.section-whatwedo .double {
	display: inline-block;
	vertical-align: top;
	margin: 3% auto 10% 2%;
	padding-right: 2%;
	width: 40%;
}

.section-whatwedo .spacer {
	padding: 0% 0 0 0;
}

.section-whatwedo img {
	padding: 30% auto auto auto;
	max-height: 60%;
}

}


@media only screen and (max-width: 900px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 8% 0 10% 0;
}

.section-intro p { 
	max-width: 70%;
	text-align: center; 
}

.section-intro h2 {
	font-size: 1.3em; 
	font-family: 'Nunito', sans-serif; 
	letter-spacing: .1em;
	text-align: center;
	max-width: 80%; 
	margin-left: 5%;}	

/*-- what we do --*/

.section-whatwedo .wrapper {
	margin: 10% auto 0% 8%; 
}

.section-whatwedo .double {
	display: inline-block;
	vertical-align: top;
	margin: 3% 3% 10% 0%;
	padding-right: 2%;
	width: 44%;
}

.section-whatwedo .spacer {
	padding: 0% 0 0 0;
}

.section-whatwedo img {
	padding-top: 8%;
}
}



@media only screen and (max-width: 600px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 15% 0 15% 0;
}

.section-intro p { 
	max-width: 70%;
	text-align: center; 
}

.section-intro h2 {
	font-size: .9em; 
	font-family: 'Nunito', sans-serif; 
	letter-spacing: .1em;
	text-align: center;
	max-width: 70%; 
	margin-left: 10%;
	padding: 0 3% 0 3%;
}


/*-- what we do --*/

.section-whatwedo p {
	font-size: .95em;
	line-height: 1.5em;
	margin: 2% auto 3% auto;
	text-align: left; 
}

.section-whatwedo .wrapper {
	margin: 10% auto 1% 8%; 
}

.section-whatwedo .double {
	display: block;
	vertical-align: top;
	margin: 3% 3% 10% 3%;
	padding-right: 0%;
	width: 90%;
}

.section-whatwedo .spacer {
	padding: 1% 0 0 0;
}

.section-whatwedo img {
	padding: 8% auto auto auto;
}

}