body { 
	margin: 0; 
	padding: 0; 
	zoom: 0; 
	font-size: 1em; // 12px}

h1, h2, p { 
	margin: 0; 
	padding: 0; }

/*-- introduction to page --*/

.container { 
	width: 100% margin: 0 auto; 
}

.section-intro {
	background: url(../img/stars-bg-web.png);
	background-color: #203668;
	background-repeat: repeat;
	width: 100%;
	padding: 10% 0 10% 0;
}
.section-intro h2 {
	font-size: 2em; 
	font-family: 'Nunito', sans-serif; 
	color: #ffffff; 
	letter-spacing: .1em;
	text-align: center;
	max-width: 100%; }

.section-intro p { 
	color: #ffffff; 
	font-size: .9em; 
	font-family: 'Karla', Arial, sans-serif; 
	margin: 1.1% auto 0% auto; 
	max-width: 70%;
	text-align: center; 
}

.section-intro a { 
	color: #ffffff; 
	text-decoration: none; }

.section-intro a:hover { 
	color:#fae896; 
	text-decoration:none;}
		
	

@media only screen and (max-width: 480px) {

